version: 2.1

defaults: &defaults
  orbs:
    aws-s3: circleci/aws-s3@2.0.0
  docker:
    - image: circleci/python:3.8.3
  working_directory: ~/project

prepare_venv: &prepare_venv
  run:
    name: Create venv
    command: |
      python3 -m venv venv
      source venv/bin/activate
      pip install --upgrade pip

fetch_data: &fetch_data
  aws-s3/copy:
    arguments: '--dryrun'
    from: 's3://deployment-demo-bnc/training-dataset/german_columns.csv'
    to: packages/classification_model/classification_model/datasets/


jobs:
  test_classification_model:
    <<: *defaults
    steps:
      - checkout
      - aws-s3/copy:
          arguments: '--dryrun'
          from: 's3://deployment-demo-bnc/training-dataset/german_columns.csv'
          to: packages/classification_model/classification_model/datasets/
      - *prepare_venv
      - run:
          name: Install requirements
          command: |
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r packages/classification_model/requirements.txt
      - *fetch_data
      - run:
          name: Train model
          command: |
            . venv/bin/activate
            PYTHONPATH=./packages/classification_model python3 packages/classification_model/classification_model/train_pipeline.py
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -vv packages/classification_model/tests

  test_ml_api:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - py-deps-{{ checksum "packages/ml_api/requirements.txt" }}
      - aws-s3/copy:
          arguments: '--recursive'
          from: 's3://deployment-demo-bnc/classification-model-package/'
          to: packages/classification_model/dist/
      - run:
          name: Runnning tests
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r packages/ml_api/requirements.txt
            pip install -e packages/classification_model
            py.test -vv packages/ml_api/tests
      - save_cache:
          key: py-deps-{{ checksum "packages/ml_api/requirements.txt" }}
          paths:
            - "/venv"

  train_and_upload_classification_model:
    <<: *defaults
    steps:
      - checkout
      - - *prepare_venv
      - run:
          name: Install requirements
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r packages/classification_model/requirements.txt
      - *fetch_data
      - run:
          name: Train model
          command: |
            . venv/bin/activate
            PYTHONPATH=./packages/classification_model python3 packages/classification_model/classification_model/train_pipeline.py
      - run:
          name: Publish the model to s3
          command: |
            . venv/bin/activate
            cd packages/classification_model
            python3 setup.py sdist bdist_wheel
      - aws-s3/copy:
          arguments: '--recursive'
          from: packages/classification_model/dist/
          to: 's3://deployment-demo-bnc/classification-model-package/'

workflows:
  version: 2.1
  test-all:
    jobs:
      - train_and_upload_classification_model:
          requires:
            - test_classification_model
            - test_ml_api

